@charset "utf-8";



:root{

}


/* ALL */

*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}


body{
  height: 100vh;
  direction: ltr;
  display: flex;
  align-items: center;
  justify-content: center;

}



/* FORM */


.container{
  width: 30%;
  max-width: 370px;
  height: auto;
}

form{
  width: 100%;
  height: auto;
  box-shadow: inset 1px 1px 9px rgba(0, 0, 0, 1);
  padding: 30px !important; 
  border-radius: 20px;
}


h1{
  font-size: 25pt;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  background: linear-gradient(85deg,rgb(0, 0, 0),rgb(3, 248, 240));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.input-box{
  display: flex;
  flex-flow: column;
}


label{
  font-size: 11pt;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  margin-top: 18px;
  text-align: start;
}

.input-box input{
  height: 31px;
  box-shadow: inset 1px 1px 7px 1px rgba(105, 105, 105, 0.9);
  border-radius: 50px;
  margin-top: 15px;
  padding: 10px;
  font-size: 12pt;
}


button{
  margin-top: 50px;
  height: 45px;
  width: 100%;
  border: none;
  background: linear-gradient(200deg, rgb(161, 184, 190),rgb(242, 241, 241));
  box-shadow: 1px 1px 3px rgb(91, 91, 91);
  border-radius: 10px;
  color: black;
  font-size: 13pt;
  cursor: pointer;
}

button:active{
  box-shadow: 1px 1px 3px rgb(163, 163, 163);
}

.input-box.success input{
  border-color: green;
}

.input-box.error input{
  border-color: red;
}


.input-box .error{
  color: red;
  margin-top: 5px;
  font-size: 9pt;
  font-family: Arial, Helvetica, sans-serif;
}

